body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 238%2c 238%2c 1)'%3e%3c/rect%3e%3cpath d='M1288.922%2c476.517C1322.129%2c477.163%2c1354.816%2c463.441%2c1372.16%2c435.116C1390.255%2c405.565%2c1392.726%2c367.069%2c1373.657%2c338.137C1356.029%2c311.392%2c1320.921%2c307.374%2c1288.922%2c308.829C1260.004%2c310.143%2c1232.018%2c320.805%2c1216.556%2c345.278C1199.978%2c371.517%2c1196.126%2c404.802%2c1211.113%2c431.981C1226.579%2c460.03%2c1256.898%2c475.894%2c1288.922%2c476.517' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1209.0141718419268 210.6284818529751L1315.2881015603612 193.7963449734318 1192.1820349623833 104.35455213454084z' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1055.378%2c342.808C1069.48%2c342.139%2c1081.682%2c334.254%2c1089.133%2c322.262C1097.087%2c309.461%2c1101.322%2c293.643%2c1094.166%2c280.379C1086.709%2c266.558%2c1071.08%2c259.477%2c1055.378%2c259.697C1040.062%2c259.911%2c1026.331%2c268.319%2c1018.426%2c281.439C1010.239%2c295.027%2c1007.395%2c312.162%2c1015.578%2c325.752C1023.558%2c339.005%2c1039.925%2c343.541%2c1055.378%2c342.808' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M519.982%2c466.841C536.777%2c467.564%2c550.738%2c455.303%2c559.135%2c440.739C567.522%2c426.192%2c570.041%2c408.613%2c562.073%2c393.833C553.71%2c378.32%2c537.57%2c366.988%2c519.982%2c368.109C503.757%2c369.143%2c493.361%2c384.039%2c486.263%2c398.666C480.19%2c411.181%2c480.093%2c425.135%2c486.26%2c437.604C493.329%2c451.896%2c504.052%2c466.156%2c519.982%2c466.841' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M276.865%2c711.74C325.884%2c708.191%2c372.184%2c689.088%2c398.578%2c647.63C427.165%2c602.728%2c438.403%2c545.558%2c412.141%2c499.257C385.594%2c452.454%2c330.618%2c435.474%2c276.865%2c433.047C217.314%2c430.358%2c151.722%2c436.418%2c118.637%2c486.006C82.593%2c540.029%2c82.974%2c614.599%2c120.251%2c667.78C153.608%2c715.368%2c218.902%2c715.936%2c276.865%2c711.74' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M945.5007276781196 41.3629961845009L823.7384516410818 6.448225371390059 788.823680827971 128.21050140842786 910.5859568650087 163.1252722215387z' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M80.67957866716617 247.88169302344483L43.65265425304204 368.9913056977971 164.76226692739428 406.0182301119212 201.7891913415184 284.908617437569z' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1040.278%2c640.852C1091.198%2c640.683%2c1138.535%2c615.674%2c1165.249%2c572.324C1193.392%2c526.654%2c1200.003%2c469.86%2c1174.849%2c422.478C1148.135%2c372.157%2c1097.248%2c337.423%2c1040.278%2c336.918C982.486%2c336.405%2c928.775%2c369.096%2c901.508%2c420.053C875.617%2c468.437%2c884.665%2c526.694%2c913.866%2c573.156C941.127%2c616.532%2c989.047%2c641.022%2c1040.278%2c640.852' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M408.08065002566 263.2905818634155L272.28196683135286 292.1554830425141 301.14686801045144 427.9541662368212 436.9455512047586 399.0892650577226z' fill='rgba(194%2c 199%2c 205%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: 200% 200%;
}
header {
  image-rendering: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header h1 {
  font-weight: bold;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

section {
  border-radius: 12px;
  background-color: #fef8fd30;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 30px;
  width: 600px;
  color: #808080;
  overflow: hidden;
  text-align: center;

  position: relative;
}

section p {
  margin: 10px 0px;
}

.text-left {
  text-align: left;
}

section hr {
  color: white;
}

section label {
  display: none;
}

section textarea {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100px;

  max-width: 100%;
  max-height: 100px;

  min-height: 100px;
  min-width: 100%;
}

section button {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.rights {
  text-align: center;
  padding-top: 250px;
  font-family: "Roboto", sans-serif;
  color: #808080;
  box-shadow: #8080;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: translateY(-10%);
  animation: floater 2.5s infinite;
  transition: ease 0.2s;
}
.float-area {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

.resultado {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 167, 228, 0.7);
  transition: 0.5s;
}
.resultado.mostrarResultado {
  left: 0;
  transition: 0.5s;
}

.resultado span {
  float: right;
  margin: 20px;
  color: whitesmoke;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: solid #fff 2px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resultado p {
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}
#container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

footer a {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none !important;
}

footer a:hover {
  color: #f8b400;
}
footer {
  display: flex;
  position: fixed;
  bottom: -20;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heart:hover {
  color: #f8b400;
}

.test,
heart {
  font-weight: 300;
}
.ludo {
  font-weight: 700;
}
